<%- include('partials/head') %>
    <%- include('partials/nav') %>
    <h1>Home Page<%=4+3 %></h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quas dolore
      accusantium ipsum est, voluptatum, dicta voluptatibus consectetur
      doloribus quod minima modi debitis accusamus aut itaque similique
      exercitationem deleniti omnis laboriosam.
    </p>
 <%- include('partials/footer') %>
